* {
  margin: 0;
  padding: 0;
}

.buscador {
  margin-bottom: 1rem;
  display: flex;
  border-radius: 5px;
  border: 1px solid gray;
  width: 30vw;
}
.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: solid 1px gray;
}
#root {
  width: 100vw;
  height: 100vh;
}
